.my-add-art{
    height:400px;
    width: 250px;
    border-radius:10px;
    background-color: seashell;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-btn:hover{
    cursor: pointer;
    color: yellow;
}

.login-input-img{
  width: 230px;
  height:100px;
  margin: 10px 0px 10px 0px;
  border-radius:5px ;
}

.img-input{
    width: 230px;
  height:30px;
  margin: 10px 0px 10px 0px;
  border-radius:5px ;
}

.login-btn{
    height: 30px;
    width: 180px;
    border-radius: 5px;
    background-color:#03c2fc ;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#login-link{
   margin-left: 20px; 
   font-size: 18px;
}

#login-link:hover{
    color: yellow;
    cursor: pointer; 
}